<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\Temp\internal-nlog-WebApi.txt">
    <variable name="logDirectory" value="${environment:AppLogging}\ItemSales\Web"/>
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <target xsi:type="File" 
                name="ef"
                fileName="${logDirectory}\WebApi-EF.log"
                archiveSuffixFormat="_{1:yyyyMMdd}_{0}"
                maxArchiveFiles="31"
                archiveEvery="Day"
                archiveFileName="${logDirectory}\Archive\Api-EF-{#}.log"
                layout="${longdate}|${logger:shortName=true}|${level:uppercase=true}|${aspnet-user-identity}|${message} ${exception:format=tostring}" />

        
        <target xsi:type="File" 
                name="api"
                fileName="${logDirectory}\WebApi.log"
                archiveSuffixFormat="_{1:yyyyMMdd}_{0}"
                maxArchiveFiles="31"
                archiveEvery="Day"
                archiveFileName="${logDirectory}\Archive\MessageApi-{#}.log"
                layout="${longdate}|${logger:shortName=true}|${level:uppercase=true}|${aspnet-user-identity}|${message} ${exception:format=tostring}" />
        
        <target xsi:type="Console" 
                name="console" 
                layout="${MicrosoftConsoleLayout}" />
        
        <target xsi:type="File" 
                name="all"
                fileName="${logDirectory}\WebApi-all.log"
                archiveSuffixFormat="_{1:yyyyMMdd}_{0}"
                maxArchiveFiles="31"
                archiveEvery="Day"
                archiveFileName="${logDirectory}\Archive\MessageApi-all-{#}.log"
                layout="${longdate}|${logger:shortName=true}|${level:uppercase=true}|${aspnet-user-identity}|${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="console,all" />

        <!--Output hosting lifetime messages to console target for faster startup detection -->
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Debug" final="true"  />
        <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Off" final="true" writeTo="ef" />
        
        <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

        <logger name="*" minlevel="Debug" writeTo="api" />
    </rules>
</nlog>