@page "/"

<PageTitle>Home</PageTitle>

<ol>
    <li>Inventory</li>
    <li>
        <ul>
            <li>New Item</li>
            <li>Manage Item</li>
        </ul>
    </li>
    <li>Ordering</li>
    <li>
        <ul>
            <li>Inventory Order</li>
        </ul>
    </li>
</ol>